p {
    font-family: 'Open Sans Condensed', sans-serif;
  }
  
  h2 {
    font-family: 'Dancing Script', cursive;
  }
  
  .contentHead {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 60px;
    font-weight: 500;
    text-decoration: underline;
  }
  
  sup {
    font-family: 'Open Sans Condensed', sans-serif;
    font-style: italic;
    font-size: smaller;
  }
  
  span {
    color: pink;
  }
  